td {
  border: 1px solid rgb(158, 156, 156);
  border-radius: 15px;
  height: 45px;
  width: 80px;
  text-align: center;
  cursor: pointer;
}

table {
  border-spacing: 20px 30px
}

.inputs {
  text-align: center;
}

input {
  margin: 50px;
}

.createButton {
  margin: 0 auto;
  display: block;
}

.summa {
  background-color : #e2dfdf;
}

.average {
  background-color : #c6d4b5;
}